body {
  background-color: #000000;
}

.container {
  width: 50%;
  margin-left: 25%;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}

h1 {
  color: #ffffff;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 15px 0px 8px 0px;
}

p {
  color: #ffffff;
  font-size: 1rem;
  margin: 0;
}

img {
  width: 100%;
  border: 5px solid #ffffff;
}
